!!!
%html
  %head
    %title Startups
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Jockey+One"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .two-col
      #user_nav
        = render 'layouts/user_nav'

      #header
        %h1
          = link_to "Latin American Startups", root_path
          .small What's cooking out there
      
      #flash-messages
        = flash_messages

      #content
        .page_header
          = yield :page_header
        = yield

      #sidebar
        = yield :sidebar

      #footer
        = render 'layouts/footer'

      = yield :javascript_bottom
